.navbar-container {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}

li {
  
}

.post-container {
  display: flex;
  justify-content: center;
}

.post-textbox {
  resize: none;
  width: 800px;
  height: 300px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.post-button {
  margin-top: 20px;
  width: 40px;
  height: 30px;
}



